<div id="map" style="width:1200px; height:500px"></div>

<%= link_to "만들기", new_blok_path %>


<script>
  function initMap() {

  // Create a map object and specify the DOM element for display.
  var map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 37.551700, lng: 126.919274},
  scrollwheel: false,
  zoom: 15
  });

  map.addListener('click', function(e) {
  var rectangle = new google.maps.Rectangle({
    strokeColor: '#F5A9E1',
    strokeOpacity: 0.8,
    strokeWeight: 1,
    fillColor: 'red',
    fillOpacity: 0.5,
    map: map,
    bounds: {
    north: Math.floor(e.latLng.lat()/0.00027)*0.00027,
    south: Math.floor(e.latLng.lat()/0.00027+1)*0.00027,
    east: Math.floor(e.latLng.lng()/0.00034+1)*0.00034,
    west: Math.floor(e.latLng.lng()/0.00034)*0.00034
    }});
    rectangle.addListener('click', function() {
    var infowindow = new google.maps.InfoWindow();
    var ne = rectangle.getBounds().getNorthEast();
    var nw = new google.maps.LatLng(ne.lat()+0.000135,ne.lng()-0.00017);
    infowindow.setContent('<div class="form-group"><label for="exampleInputPassword1">내용</label> <textarea name="content" class="form-control" id="content" rows="3" placeholder="내용을 입력하세요"></textarea> </div> <button type="submit" class="submit btn btn-default">Submit</button>');
    infowindow.setPosition(nw);
    infowindow.open(map);

    });
    });
    }
  </script>
<script src='https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap'
  async defer></script>







<h3> <%= @region.name %>로 떠납니다.</h3>
<%= link_to "수정하기", edit_region_path(@region) %>
<%= link_to "삭제하기", region_path(@region), method: 'delete' %>
<%= link_to "전체보기", regions_path %>



