<h3> <%= @region.name %>로 떠납니다.</h3>
<%= link_to "수정하기", edit_region_path(@region) %>
<%= link_to "삭제하기", region_path(@region), method: 'delete' %>
<%= link_to "전체보기", regions_path %>
<div id="map" style="width:1200px; height:500px"></div>





</br></br></br>
<%= link_to "만들기", new_blok_path %>


<script>
  function initMap() {
    var map;
    var rectangle;
    var LatLng1 = new google.maps.LatLng({lat: 37.550818, lng: 126.925133});
    var LatLng2 = new google.maps.LatLng({lat: 37.550818, lng: 126.925167});
    var heading = google.maps.geometry.spherical.computeDistanceBetween(LatLng1,LatLng2);
    alert(heading);
    <% lat = 37.550818 %>
    <% lng = 126.925133 %>

    var bounds = {
      north: <%= lat %>,
      <% lat += 0.000027 %>
      south: <%= lat %>,
      east: <%= lng %>,
      <% lng %>
      west: 126.925143
    };
    // Define a rectangle and set its editable property to true.
    var rectangle = new google.maps.Rectangle({
      bounds: bounds,
      editable: false
    });
    rectangle = new google.maps.Rectangle({
      strokeColor: '#FF0000',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#FF0000',
      fillOpacity: 0.35,
      map: map,
      bounds: bounds
    });
    // Create a map object and specify the DOM element for display.
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 37.550817, lng: 126.925135},
      scrollwheel: false,
      zoom: 18
    });
  }
</script>
<script src='https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap&libraries=geometry'
  async defer></script>

