<h3> <%= @region.name %>로 떠납니다.</h3>
<%= link_to "수정하기", edit_region_path(@region) %>
<%= link_to "삭제하기", region_path(@region), method: 'delete' %>
<%= link_to "전체보기", regions_path %>
<div id="map" style="width:1200px; height:500px"></div>





</br></br></br>
<%= link_to "만들기", new_blok_path %>


<script>
  function initMap() {
  var bounds = {
  north: 37.599,
  south: 37.490,
  east: 126.443,
  west: 125.649
  };

  // Define a rectangle and set its editable property to true.
  var rectangle = new google.maps.Rectangle({
  bounds: bounds,
  editable: false
  });
  // Create a map object and specify the DOM element for display.
  var map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 37.550817, lng: 126.925135},
  scrollwheel: false,
  zoom: 14
  });
  }
</script>
<script src='https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap'
  async defer></script>

